@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.main{
    display: flex;
  
    justify-content: space-between; /* balance spacing */
    align-items: center;
    max-width: 100%; /* prevents exceeding viewport */
    margin: 0 auto; /* centers content */
    box-sizing: border-box;
}
.container-left{
    margin: 35px 30px;
    display: flex;
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: flex-start; /* Align items to the left */
    gap: 20px; /* Adds spacing between elements */
    max-width: 60vw;
}


.model-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:680px;
  height: 600px;

}

.head {
    font-size: 2.5rem; /* Scales font size for better responsiveness */
    color: #373737;
    margin: 0;
    font-weight: 700; /* Boldens the header for emphasis */
}

.content {
    font-size: 1.5rem; /* Relative sizing for better scaling */
    color: #373737;
    padding: 25px;
    max-width: 60%; /* Ensures content doesn’t overflow */
    line-height: 1.6; /* Better readability */
    border-top: 1px solid #DDD; /* Adds a border separating content */
}
