<div class="main">
<div class="container-left">
    <h1 class="head">What is AYUSH</h1>
    <p class="content">According to Ayurveda, ayu i.e. life is a union of physical body, sense organs, mind and soul. It advocates the measures for propagation of health and making the life of individuals beneficial to the society. It also describes the factors which may lead to pathogenesis in physical body as well as mind.
        Ayurveda gives most comprehensive definition of healthy person as one in which dosha (metaphysiological entities), agni (metabolic fire), dhatus (tissues), malas (excretory products) and their activities are in balanced state and whose soul (atma), sense organs (indriya) and mind (manas) are in sound state.
        One of the unique principles of Ayurveda is the understanding of health as a result of coordinated functioning of soul, mind and body in intimate relationship with everything else in cosmos- material and non­material. It believes that the constituent factors of human body and cosmos are same. </p>       
</div>
<div class="model-container"> 
       <app-three-viewer></app-three-viewer>
</div>
</div>