<div class="container">
    <div class="contentLeft">
      <div class="row">
          <div class="imgWrapper">
              <img src="../../../../assets/images/containre-image1.jpg" alt=""/>
          </div>
          <div class="imgWrapper">
              <img src="../../../../assets/images/containre-image2.jpg" alt=""/>
          </div>
          <div class="imgWrapper">
              <img src="../../../../assets/images/containre-image3.jpg" alt=""/>
          </div>
          <div class="imgWrapper">
              <img src="../../../../assets/images/containre-image4.jpg" alt=""/>
          </div>
          <div class="imgWrapper">
            <img src="../../../../assets/images/containre-image5.jpg" alt=""/>
        </div>
      </div>
    </div>
    <div class="contentRight">
      <div class="content">
        <!-- <h4>About AYUSH</h4> -->
        <h2>Ayurveda
          is about feeling
          <span style="color:  #34643a; font-weight: bold;">DAMN GOOD </span>in your body, mind, and spirit.</h2>
        <p>"Life (avu) is the combination (samyoga) of body, senses, mind and reincarnating soul.
          Ayurveda is the most sacred science of life, beneficial to humans both in this world and the world beyond.”</p>
            
            
            <div class="feature-list">
              <div class="feature">
                <h3>Bhishag</h3>
                <h6>-Physician.</h6>
              </div>
              <div class="feature">
                <h3>Upastha</h3>
                <h6>-Medical Attendent.</h6>
              </div>
              <div class="feature">
                <h3>Rogi</h3>
                <h6>-Patient.</h6>
              </div>
              <div class="feature">
                <h3>Dravya</h3>
                <h6>-Medicine.</h6>
              </div>
            </div>
            <!-- <a routerLink="/places">Click here to view trips</a> -->
          </div>
    </div>
  </div>