<app-header></app-header>
<div class="grid-container">
<div class="container" *ngFor="let container of containers; let i = index">
    <h1 class="head" (click)="toggleContent(i)" [class.active]="activeContainerIndex === i">
      {{ container.title }}
    </h1>
    <p class="content" [class.active]="activeContainerIndex === i">
      {{ container.description }}
    </p>
    <h3 class="content" [class.active]="activeContainerIndex === i">Benefits:</h3>
    <ul class="content" [class.active]="activeContainerIndex === i">
      <li *ngFor="let benefit of container.benefits">{{ benefit }}</li>
    </ul>
    <h3 class="content" [class.active]="activeContainerIndex === i">Application:</h3>
    <p class="content" [class.active]="activeContainerIndex === i">
      {{ container.application }}
    </p>
  </div>
</div>
<app-footer></app-footer>