<app-header></app-header>
<div class="grid-container">
    <div class="container" >
      <h1 class="head">{{ profile.name }}</h1>
      <div class="content-left">
        <img [src]="profile.imageUrl" alt="{{ profile.name }}">
      </div>
      <div class="content-right">
        <h1>Biography</h1>
        <p>{{ profile.biography }}</p>
        <h1>Education</h1>
        <p>{{ profile.education }}</p>
        <h1>Experience</h1>
        <p>{{ profile.experience }}</p>
      </div>
    </div>
  </div>
<app-footer></app-footer>