<div class="description">
    <div class="container">
    <h1 class="head">Ayurveda.</h1>
    <p class="content">Ayurveda is a whole-body (holistic) system of medicine that began in India more than 3,000 years ago. Ayurveda means the study of life. It takes a natural approach to all aspects of health and well-being.</p>
    </div>
    <div class="container">
    <h1 class="head">Yoga.</h1>
    <p class="content">Yoga is based on the Panchakosha theory, which reflects the importance of each sheath of existence. Yoga includes physical postures, breathing, and exercise.</p>
    </div>
    <div class="container">
    <h1 class="head"> Naturopathy.</h1>
    <p class="content">Naturopathy is based on the idea that the body has the innate ability to heal itself. Naturopathy uses natural therapies, herbal remedies, and healthy habits.
    </p>
    </div>
    <div class="container">
    <h1 class="head">Unani.</h1>
    <p class="content">Unani is a traditional system of medicine that originated in Greece and is practiced in South Asia. It's based on the teachings of Hippocrates, who is known as the father of medicine. The Arabs later refined and developed the system through experiments
    </p>
    </div>
    <div class="container">
    <h1 class="head">Siddha.</h1>
    <p class="content">The word "Siddha" comes from the word "Citti", which means accomplishment, eternal bliss, and attainment of perfection.</p>
    </div>
    <div class="container">
    <h1 class="head">Sowa Rigpa.</h1>
    <p class="content">Sowa Rigpa is a traditional medical system that's practiced in many parts of the Himalayan region, including Tibet, Mongolia, Bhutan, Nepal, and some parts of China. It's also known as the Amchi system of medicine. Sowa Rigpa is based on the principles of Jung-wa-nga and Ngepa-Sum. It's considered to be similar to Ayurvedic philosophy.
    </div>
    <div class="container">
    <h1 class="head">Homeopathy.</h1>
    <p class="content">Homeopathy is an alternative medical practice based on the principle of "like cures like," which means that a substance causing symptoms in a healthy person can be used in small doses to treat similar symptoms in a sick person. Developed in the late 18th century by the German physician Samuel Hahnemann, it relies on highly diluted substances believed to trigger the body's natural healing processes</div>
    
</div>