@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
/* Ensure the Main-Heading component covers the full viewport height */
.Main-Heading {
    position: relative;
    color: #373737;
    text-align: center;
    font-family: BunbunBold, serif;
    font-weight: 400;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Hide overflow to keep video and content contained */
    z-index: 0;
    
}

/* Style for the background video */
.background-video {
    position: absolute; /* Absolute positioning to fit behind content */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Cover the entire area while maintaining aspect ratio */
    z-index: -1; /* Place video behind content */
}

/* Content on top of the video */
.content {
    position: relative; /* To allow content to be positioned on top of video */
    z-index: 1; /* Ensure content is above the video */
    color: white; /* Adjust text color for visibility */
    padding: 40vh 20px 150px; /* Adjust padding as needed */
}

h1 {
    font-size: 64px;
    margin: 0;
    padding-top: 0; /* Remove top padding to align with content block */
}
h3{
    font-size: 24px;
    margin: 0;
    padding-top: 0; /* Remove top padding to align with content block */
}

.glass-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.glass-button {
    display: inline-block;
    text-align: center;
    padding: 24px 32px;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px;
    margin-top: 40px;
}

.glass-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Optional: Shadow effect to enhance text visibility */
.Main-Heading-shadow {
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 58%, hsla(0, 0%, 0%, 0) 78%);
    padding: 200px;
    height: 100px;
}
